Repository lilibraries/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit examples/assets.d.ts",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

test: test `isPageVisible` util
  tests/utils/isPageVisible.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: add `defaultValue` param for `useMatchMedia`
  docs/useMatchMedia.mdx
Due: prettier --write, git add --patch

chore(useCache): change validate value type to any
  src/useCache.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: add requests and configs doc files
  docs/CacheConfig.mdx
  docs/LoadConfig.mdx
  docs/sidebars.js
  docs/useCache.mdx
  docs/useLoad.mdx
  docs/useReload.mdx
  docs/useSubmit.mdx
Due: eslint --fix, prettier --write, git add --patch

docs(useCache): explain params and results
  docs/useCache.mdx
Due: prettier --write, git add --patch

chore(useCache): support sync data in different events
  src/useCache.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(useLoad): reduce interval state fileds
  src/useLoad.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(useSubmit): add `data`, `error` and `reset` results
  src/useSubmit.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(CacheConfig): finish `cacheSync` TS type
  src/configs/CacheConfig.tsx
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: finish `useCache` docs
  docs/examples/UseCacheBasic.tsx
  docs/examples/UseCacheSync.tsx
  docs/examples/UseCacheTime.tsx
  docs/useCache.mdx
  docs/useLoad.mdx
  docs/useReload.mdx
  docs/useSubmit.mdx
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: `warning` print message not Error
  src/utils/warning.ts
  tests/utils/warning.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(useCache): warning mutable key
  src/useCache.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(useSubmit): reduces some functions
  src/index.ts
  src/useLoad.ts
  src/useSubmit.ts
  tests/index.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: finish request hooks docs
  docs/CacheConfig.mdx
  docs/LoadConfig.mdx
  docs/examples/UseLoadAutoReload.tsx
  docs/examples/UseLoadBasic.tsx
  docs/examples/UseLoadCaching.tsx
  docs/examples/UseLoadDependency.tsx
  docs/examples/UseLoadEvents.tsx
  docs/examples/UseLoadFallback.tsx
  docs/examples/UseLoadImperative.tsx
  docs/examples/UseLoadIndependent.tsx
  docs/examples/UseLoadInfiniteList.tsx
  docs/examples/UseLoadKey.tsx
  docs/examples/UseLoadParams.tsx
  docs/examples/UseLoadPolling.tsx
  docs/examples/UseLoadPrefetch.tsx
  docs/examples/UseLoadRetries.tsx
  docs/examples/UseLoadStale.tsx
  docs/examples/UseReload.tsx
  docs/examples/UseSubmit.tsx
  docs/useLoad.mdx
  docs/useReload.mdx
  docs/useSubmit.mdx
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

test: fix tests
  tests/useAnimation.test.ts
  tests/utils/EventEmitter.test.ts
  tests/utils/MemoryCache.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(release): 0.3.0
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, git add --patch

docs: improve CHANGELOG
  docs/CHANGELOG.md
Due: prettier --write, git add --patch

test: add test for `CacheConfig`
  tests/configs/CacheConfig.test.tsx
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

test: add test for `LoadConfig`
  tests/configs/LoadConfig.test.tsx
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

test: add test for `useReload`
  tests/useReload.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

fix(useLoad): `staleTime` option must be used together with `cacheKey` option
  docs/CacheConfig.mdx
  docs/examples/UseLoadPrefetch.tsx
  docs/examples/UseLoadStale.tsx
  docs/useCache.mdx
  docs/useLoad.mdx
  src/configs/CacheConfig.tsx
  src/configs/LoadConfig.tsx
  src/useLoad.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: release script remove build command
  package.json
Due: prettier --write, git add --patch

test: fix TS types
  tests/configs/CacheConfig.test.tsx
  tests/helpers/testTargetEffectHook.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

test(useReload): `staleTime` must be used together with `cacheKey`
  tests/useReload.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(release): 0.3.1
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, git add --patch

test(useCache): add test case
  tests/useCache.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

test(useLoad): add test case
  .eslintrc
  tests/useLoad.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

test(useSubmit): add test case
  tests/useSubmit.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `useDelayedValue`
  docs/examples/UseDelayedValue.tsx
  docs/sidebars.js
  docs/useDelayedValue.mdx
  src/index.ts
  src/useDelayedValue.ts
  tests/useDelayedValue.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `useResizeObserver`
  docs/examples/UseResizeObserver.tsx
  docs/sidebars.js
  docs/useResizeObserver.mdx
  src/index.ts
  src/useElementSize.ts
  src/useResizeObserver.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `useIntersectionObserver`
  docs/examples/UseIntersectionObserver.tsx
  docs/sidebars.js
  docs/useIntersectionObserver.mdx
  package-lock.json
  package.json
  src/index.ts
  src/useIntersectionObserver.ts
  tests/useIntersectionObserver.test.ts
  tests/useResizeObserver.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `useIntersecting`
  docs/examples/UseIntersecting.tsx
  docs/sidebars.js
  docs/useIntersecting.mdx
  src/index.ts
  src/useIntersecting.ts
  tests/useIntersecting.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

feat: add `useWindowFocus`
  docs/examples/UseWindowFocus.tsx
  docs/sidebars.js
  docs/useWindowFocus.mdx
  src/index.ts
  src/useWindowFocus.ts
  tests/useWindowFocus.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: add features and hook list
  README.md
  docs/GettingStarted.mdx
Due: prettier --write, git add --patch

chore: use semantic-release instead of standard-version
  .releaserc
  docs/CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write, git add --patch

chore: semantic-release remove github plugin
  .releaserc
Due: none
