Repository lilibraries/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(release): 0.2.1
  docs/CHANGELOG.md
  package.json
Due: prettier --write, git add --patch

docs: improve
  docs/useAnimation.mdx
  docs/useControllableState.mdx
  docs/useDebounce.mdx
  docs/useDebouncedValue.mdx
  docs/useFavicon.mdx
  docs/useIdle.mdx
  docs/useInterval.mdx
  docs/useMountedRef.mdx
  docs/usePersist.mdx
  docs/useRaf.mdx
  docs/useSafeState.mdx
  docs/useThrottle.mdx
  docs/useThrottledValue.mdx
  docs/useTimeout.mdx
  docs/useToggle.mdx
  docs/useUnmountedRef.mdx
Due: prettier --write, git add --patch

fix(useToggle): use useSafeState instead of useState
  src/useToggle.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: use npm instead of yarn
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  README.md
  docs/GettingStarted.mdx
  package-lock.json
  package.json
  yarn.lock
Due: prettier --write, git add --patch

chore: replace document license to CC BY 4.0
  LICENSE-docs
  README.md
  docs/GettingStarted.mdx
  docusaurus.config.js
  sidebars.js
Due: eslint --fix, prettier --write, git add --patch

chore: organize config files
  .editorconfig
  .vscode/settings.json
  babel.config.js
  configs/babel.cjs.json
  configs/babel.esm.json
  configs/babel.preset.js
  configs/jest.setup.ts
  configs/tsconfig.base.json
  configs/tsconfig.build.json
  docs/CHANGELOG.md
  docs/sidebars.js
  docusaurus.config.js
  jest.config.js
  package-lock.json
  package.json
  rollup.js
  tsconfig.json
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: add dependencies.txt for umd output
  package-lock.json
  package.json
  rollup.config.js
  rollup.js
Due: eslint --fix, prettier --write, git add --patch

chore: rename src/creators to src/factories
  src/factories/createMountHook.ts
  src/factories/createStorageHook.ts
  src/factories/createTargetEffectHook.ts
  src/factories/createUpdateHook.ts
  src/useLayoutMount.ts
  src/useLayoutTargetEffect.ts
  src/useLayoutUpdate.ts
  src/useLocalStorage.ts
  src/useMount.ts
  src/useSessionStorage.ts
  src/useTargetEffect.ts
  src/useUpdate.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore!: rename depsEqual to areDepsEqual
  src/factories/createTargetEffectHook.ts
  src/index.ts
  src/utils/areDepsEqual.ts
  tests/utils/areDepsEqual.test.ts
  tests/utils/depsEqual.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore!: delete hasOwn util
  src/index.ts
  src/utils/hasOwn.ts
  tests/utils/hasOwn.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: move types to src
  src/factories/createTargetEffectHook.ts
  src/index.ts
  src/types.ts
  src/useClickAway.ts
  src/useDebounce.ts
  src/useDebouncedValue.ts
  src/useEventListener.ts
  src/useSize.ts
  src/useThrottle.ts
  src/useThrottledValue.ts
  src/utils/getTarget.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore!: rename util isBrowser to inBrowser
  src/index.ts
  src/useFavicon.ts
  src/useIsomorphicLayoutEffect.ts
  src/useLocalStorage.ts
  src/useMatchMedia.ts
  src/useOnline.ts
  src/usePageVisible.ts
  src/useSessionStorage.ts
  src/useTitle.ts
  src/useWindowSize.ts
  src/utils/getTarget.ts
  src/utils/inBrowser.ts
  tests/utils/getTarget.test.ts
  tests/utils/inBrowser.test.ts
  tests/utils/isBrowser.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: update Docusaurus version
  package-lock.json
  package.json
Due: prettier --write, git add --patch

test: support testing React 16, 17 and 18
  package.json
  tests/helpers/renderHook.ts
  tests/helpers/testMountHook.ts
  tests/helpers/testStorageHook.ts
  tests/helpers/testTargetEffectHook.ts
  tests/helpers/testUpdateHook.ts
  tests/useAnimation.test.ts
  tests/useClickAway.test.ts
  tests/useControllableState.test.ts
  tests/useCookie.test.ts
  tests/useDarkMode.test.ts
  tests/useDebounce.test.ts
  tests/useDebouncedValue.test.ts
  tests/useEventListener.test.ts
  tests/useFavicon.test.ts
  tests/useIdle.test.ts
  tests/useInterval.test.ts
  tests/useLatestRef.test.ts
  tests/useMatchMedia.test.ts
  tests/useMemoized.test.ts
  tests/useMergedRef.test.ts
  tests/useMountedRef.test.ts
  tests/useOnce.test.ts
  tests/useOnline.test.ts
  tests/usePageVisible.test.ts
  tests/usePersist.test.ts
  tests/usePreviousRef.test.ts
  tests/useRaf.test.ts
  tests/useRerender.test.ts
  tests/useSafeState.test.ts
  tests/useSetState.test.ts
  tests/useSize.test.ts
  tests/useThrottle.test.ts
  tests/useThrottledValue.test.ts
  tests/useTimeout.test.ts
  tests/useTitle.test.ts
  tests/useToggle.test.ts
  tests/useUnmount.test.ts
  tests/useUnmountedRef.test.ts
  tests/useWindowSize.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

build: refactor
  README.md
  babel.cjs.json
  babel.config.js
  babel.esm.json
  babel.preset.js
  docusaurus.config.js
  jest.config.js
  jest.setup.ts
  package.json
  rollup.config.js
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

build: babel config do not ignore browerslist
  babel.preset.js
Due: eslint --fix, prettier --write, git add --patch

chore: don't export DebounceOptions and ThrottleOptions
  src/types.ts
  src/useDebounce.ts
  src/useDebouncedValue.ts
  src/useThrottle.ts
  src/useThrottledValue.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: improve
  docs/examples/UseAnimation.tsx
  docs/examples/UseDebounce.tsx
  docs/examples/UseDebouncedValue.tsx
  docs/examples/UsePageVisible.tsx
  docs/examples/UseThrottle.tsx
  docs/examples/UseThrottledValue.tsx
  docs/sidebars.js
  docs/useDebouncedValue.mdx
  docs/useFavicon.mdx
  docs/useIdle.mdx
  docs/useInterval.mdx
  docs/useLayoutTargetEffect.mdx
  docs/usePageVisible.mdx
  docs/usePersist.mdx
  docs/useRaf.mdx
  docs/useTargetEffect.mdx
  docs/useThrottledValue.mdx
  docs/useTimeout.mdx
  docs/useTitle.mdx
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

test: rename useMemoized.test.ts to useMemoizedValue.test.ts
  tests/useMemoizedValue.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

test: delete tests/useMemoized.test.ts
  tests/useMemoized.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

style: optimize code style
  src/useDebouncedValue.ts
  src/useThrottledValue.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

fix(useMemoizedValue): chagne deep comparison algorithm
  src/useMemoizedValue.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

fix(useTitle): add `null` type for the `title` parameter
  src/useTitle.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

fix(useFavicon): add `null` type for the `href` parameter
  src/useFavicon.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: typo
  docs/useClickAway.mdx
Due: prettier --write, git add --patch

chore!: delete useControllableState
  docs/examples/UseControllableState.tsx
  docs/sidebars.js
  docs/useControllableState.mdx
  src/index.ts
  src/useControllableState.ts
  tests/useControllableState.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore!: rename useSize to useElementSize
  docs/examples/UseElementSize.tsx
  docs/sidebars.js
  docs/useElementSize.mdx
  src/index.ts
  src/useElementSize.ts
  tests/useElementSize.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: add utils/Cache
  src/index.ts
  src/utils/Cache.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

fix(usePageVisible): use document.visibilityState instead of document.hidden
  src/usePageVisible.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore!: rename utils/extname to utils/getExtname
  src/index.ts
  src/useFavicon.ts
  src/utils/getExtname.ts
  tests/utils/extname.test.ts
  tests/utils/getExtname.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: improve docs
  docs/useClickAway.mdx
  docs/useCookie.mdx
  docs/useElementSize.mdx
  docs/useEventListener.mdx
  docs/useFavicon.mdx
  docs/useLayoutTargetEffect.mdx
  docs/useLocalStorage.mdx
  docs/useSafeState.mdx
  docs/useSessionStorage.mdx
  docs/useTargetEffect.mdx
Due: prettier --write, git add --patch

chore(useWindowSize,useElementSize)!: do not set default size
  docs/examples/UseElementSize.tsx
  docs/examples/UseWindowSize.tsx
  docs/useWindowSize.mdx
  src/useElementSize.ts
  src/useWindowSize.ts
  tests/useElementSize.test.ts
  tests/useWindowSize.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs: remove `readonly` modifier
  docs/useAnimation.mdx
  docs/useCookie.mdx
  docs/useDebounce.mdx
  docs/useDebouncedValue.mdx
  docs/useElementSize.mdx
  docs/useIdle.mdx
  docs/useInterval.mdx
  docs/useLocalStorage.mdx
  docs/useRaf.mdx
  docs/useSafeState.mdx
  docs/useSessionStorage.mdx
  docs/useSetState.mdx
  docs/useThrottle.mdx
  docs/useThrottledValue.mdx
  docs/useTimeout.mdx
  docs/useToggle.mdx
Due: prettier --write, git add --patch

chore!: rename useClickAway to useClickOutside
  docs/examples/UseClickOutside.tsx
  docs/sidebars.js
  docs/useClickOutside.mdx
  src/index.ts
  src/useClickOutside.ts
  tests/useClickOutside.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

docs(useElementSize): remove default size
  docs/useElementSize.mdx
Due: prettier --write, git add --patch

chore: add some interface definitions
  src/caches/AbstractCache.ts
  src/caches/MemoryCache.ts
  src/types.ts
  src/useCache.ts
  src/useLoad.ts
  src/useReload.ts
  src/useSubmit.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: stage some TS definitions
  src/useCache.ts
  src/useLoad.ts
  src/useReload.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: finish TS definitions for network hooks
  src/useCache.ts
  src/useLoad.ts
  src/useSubmit.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

Path conditions:
  tsc-files --noEmit examples/assets.d.ts: any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  jest --bail --findRelatedTests: any of: *.{ts,tsx}
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{md,mdx,json})
  git add --patch: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{md,mdx,json})
