Repository lilibraries/hooks: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

.lintstagedrc:

{
  "*.{ts,tsx}": [
    "tsc-files --noEmit examples/assets.d.ts",
    "eslint --fix",
    "jest --bail --findRelatedTests",
    "prettier --write",
    "git add --patch"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add --patch"
  ],
  "*.{md,mdx,json}": [
    "prettier --write",
    "git add --patch"
  ]
}

Notes added by 'git notes add'
  06f6dc661148e34545a376eb9610fde0da8fa749
Due: none

docs: update changelog
  docs/CHANGELOG.md
Due: prettier --write, git add --patch

test(useLoad): fix test case
  tests/useLoad.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

build: rollup license plugin not limited to MIT
  rollup.config.js
Due: eslint --fix, prettier --write, git add --patch

docs: update CHANGELOG
  docs/CHANGELOG.md
Due: prettier --write, git add --patch

test: fix test cases for request hooks
  tests/useLoad.test.ts
  tests/useReload.test.ts
  tests/useSubmit.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

fix(LoadConfig,CacheConfig): do not set global variables in SSR
  src/configs/CacheConfig.tsx
  src/configs/LoadConfig.tsx
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

fix(useClickOutside): do not listen to events when no target specified
  src/useClickOutside.ts
  tests/useClickOutside.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(release): 1.0.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write, git add --patch

Notes added by 'git notes add'
  695f8784e929130c1e5fbbff97fd2f36fd6d7993
Due: none

chore: optimize avoid stringify
  src/useIntersectionObserver.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore: use release-it instead of semantic-release
  .release-it.json
  .releaserc
  package-lock.json
  package.json
Due: prettier --write, git add --patch

chore: release-it changelog use conventionalcommits
  .release-it.json
  .vscode/settings.json
Due: prettier --write, git add --patch

chore: change vscode settings
  .vscode/settings.json
Due: prettier --write, git add --patch

chore: change release-it before:init hook
  .release-it.json
Due: prettier --write, git add --patch

chore: release ignore husky
  package.json
Due: prettier --write, git add --patch

chore(release): 1.0.2
  docs/CHANGELOG.md
Due: prettier --write, git add --patch

chore: prettier ignore docs/CHANGELOG.md
  .prettierignore
Due: none

chore(release): 1.0.3
  docs/CHANGELOG.md
  package.json
Due: prettier --write, git add --patch

chore: ignore .npmrc
  .gitignore
  .npmrc
Due: none

chore: use pnpm instead of npm
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write, git add --patch

chore: improve husky pre-commit command
  .husky/pre-commit
Due: none

chore: install @types/node
  package.json
  pnpm-lock.yaml
Due: prettier --write, git add --patch

chore: git ignore pnpm-lock.yaml
  .prettierignore
Due: none

chore: add git related scripts
  package.json
  pnpm-lock.yaml
  scripts/checkGitIsClean.mjs
  scripts/cleanGit.mjs
Due: prettier --write, git add --patch

chore: improve script of cleaning git
  scripts/cleanGit.mjs
Due: none

docs: improve CHANGELOG
  .prettierignore
  .release-it.json
  CHANGELOG.md
  README.md
  docs/GettingStarted.mdx
  docs/sidebars.js
Due: eslint --fix, prettier --write, git add --patch

chore: update vscode settings
  .vscode/settings.json
Due: prettier --write, git add --patch

feat: support React 19
  package.json
Due: prettier --write, git add --patch

test: test cases support React 19
  tests/helpers/act.ts
  tests/helpers/testStorageHook.ts
  tests/useAnimation.test.ts
  tests/useCache.test.ts
  tests/useCookie.test.ts
  tests/useDebounce.test.ts
  tests/useDebouncedValue.test.ts
  tests/useDelayedValue.test.ts
  tests/useIdle.test.ts
  tests/useInterval.test.ts
  tests/useLoad.test.ts
  tests/useRaf.test.ts
  tests/useReload.test.ts
  tests/useRerender.test.ts
  tests/useSafeState.test.ts
  tests/useSetState.test.ts
  tests/useSubmit.test.ts
  tests/useThrottle.test.ts
  tests/useThrottledValue.test.ts
  tests/useTimeout.test.ts
  tests/useToggle.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

test: use `act` from @testing-library/react
  package.json
  tests/helpers/act.ts
  tests/helpers/testStorageHook.ts
  tests/useAnimation.test.ts
  tests/useCache.test.ts
  tests/useCookie.test.ts
  tests/useDebounce.test.ts
  tests/useDebouncedValue.test.ts
  tests/useDelayedValue.test.ts
  tests/useIdle.test.ts
  tests/useInterval.test.ts
  tests/useLoad.test.ts
  tests/useRaf.test.ts
  tests/useReload.test.ts
  tests/useRerender.test.ts
  tests/useSafeState.test.ts
  tests/useSetState.test.ts
  tests/useSubmit.test.ts
  tests/useThrottle.test.ts
  tests/useThrottledValue.test.ts
  tests/useTimeout.test.ts
  tests/useToggle.test.ts
Due: tsc-files --noEmit examples/assets.d.ts, eslint --fix, jest --bail --findRelatedTests, prettier --write, git add --patch

chore(release): 1.1.0
  CHANGELOG.md
  package.json
Due: prettier --write, git add --patch

docs: support React 19+
  README.md
  docs/GettingStarted.mdx
Due: prettier --write, git add --patch
